@model TaskProductWebApplication.Models.Product

<div>
    <h5>@Model.ProductName</h5>
    <p><strong>Description:</strong> @Model.Description</p>
    <p><strong>Created:</strong> @Model.Created.ToString("yyyy-MM-dd HH:mm:ss")</p>
</div>